<search tuiSearch class="containerSearch">
  <form
    [formGroup]="searchForm"
    (ngSubmit)="onSubmit()"
    class="formSearch"
  >
    <fieldset class="fieldset">
      <tui-textfield iconStart="@tui.search" class="searchBar">
        <input class="input" formControlName="searchField" placeholder="Pesquisar..." tuiTextfield />
      </tui-textfield>
      <button
        type="submit"
        class="btnSearch"
        tuiButton
        appearance="primary"
      >
        Pesquisar
      </button>
    </fieldset>
  </form>
</search>
