.containerSearch{
  display: flex;
  align-items: start;
}

.formSearch{
  width: 100%
}

.iconSearch{
  color: var(--tertiary-color);
}

.fieldset{
  width: 100%
}

.input{
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 1em;
}

.searchBar{
  width: 30%;
  color: var(--tertiary-color);
}

.btnSearch{
  border: 1px solid #33333334;
  height: 100%;
  padding: 0.2em 1em 0.2em 1em;
  border-radius: 7px;
}

@media (max-width: 1000px) {
  .containerSearch {
      display: flex;
      align-items: start;
    }

    .formSearch {

      width: 100%
    }

    .fieldset {
      width: 100%;

      display: flex;
      align-content: start;
      align-items: start;
      justify-content: start;
    }

    .input {
      height: 2.5em
    }

    .searchBar {
      width: 30%;
      color: var(--tertiary-color);
    }

        .btnSearch {
          border: 1px solid #33333334;
          height: 100%;
          padding: 0em 1em 0em 1em;
          border-radius: 7px;
        }
}
@media (max-width: 500px) {
  .containerSearch {
      display: flex;
      align-items: start;
    }

    .formSearch {

      width: 100%
    }

    .fieldset {
      width: 100%;
      height: 2em;
    }

    .input {
      margin: 0;
      padding: 0;
      height: 2.5em;
      width: 100%;
    }

    .searchBar {
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
      align-content: center;

      width: 100%;
      height: 100%;
      color: var(--tertiary-color);
      min-inline-size: 0;
    }

    .btnSearch {
      border: 1px solid #33333334;
      height: 100%;
      font-size: 12px;
      padding: 0.2em 0.7em 0.2em 0.7em;
      border-radius: 7px;
    }
}
