.containerSearch{
  display: flex;
  align-items: start;
}

.formSearch{
  width: 100%
}

.fieldset{
  width: 100%
}

.input{
  padding: 0.5em 1em 0.5em 1em;
}

.searchBar{
  width: 30%;
  color: var(--tertiary-color);
}

.btnSearch{
  border: 1px solid #33333334;
  height: 100%;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 7px;
}

@media (max-width: 1000px) {
  .containerSearch {
      display: flex;
      align-items: start;
    }

    .formSearch {

      width: 100%
    }

    .fieldset {
      width: 100%;

      display: flex;
      align-content: start;
      align-items: start;
      justify-content: start;
    }

    .input {
      height: 2.5em
    }

    .searchBar {
      width: 30%;
      color: var(--tertiary-color);
    }

    .btnSearch {
      border: 1px solid #33333334;
      height: 100%;
      padding: 0.2em 0.7em 0.2em 0.7em;
      border-radius: 7px;
    }
}
