<nav class="containerNav">
  <div class="navGoup">
    <h1 class="title">Listagem de <span class="prominence">{{title}}</span></h1>
    <div class="btnGroup">
      <button tuiButton class="btnTrash" >
        <i-lucide [img]="Trash" [size]="iconSize" [strokeWidth]="iconStroke" class="iconTrash" />
      </button>
      <button tuiButton class="btnPlus">
        <i-lucide [img]="Plus" [size]="iconSize" [strokeWidth]="iconStroke" class="iconPlus" />
      </button>
    </div>
  </div>
  <app-searchBar/>
</nav>
