.containerNav{
  width: 60vw;
  height: 10em;
  border: solid 1px #33333861;
  border-radius: 10px;
  padding: 1em 0 1em 0;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
}

.searchBar{
  width: 70%;
}

.navGoup{
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.prominence {
  color: var(--tertiary-color);
}

.title {
  display: flex;
  align-items: center;

  font-size: 40px;
  height: 20%;
}

.btnGroup{
  display: flex;
  align-items: center;
  column-gap: 1em;

  width: 20%;
  height: 20%;
}

.btn {
  color: var(--secondary-color);
  height: 2.5em;
  padding: 1em 0.5em 1em 0.5em;
  border-radius: 5px;
}
.Plus{
  flex: 3;
  background-color: var(--tertiary-color);
}

.Trash{
  flex: 1;
  background-color: #FF4B4B;
}

.ArrowDownToLine{
  flex: 1;
  background-color: #0c9c15ae;
}

@media (max-width: 1000px) {

  .containerNav {
      width: 70vw;
      height: 10em;
      padding: 1em 0 1em 0;

      row-gap: 1em;
    }

    .searchBar {
      width: 80%;
    }

    .title {
      display: flex;
      align-items: center;

      font-size: 30px;
      height: 20%;
    }

    .btnGroup {
      display: flex;
      align-items: center;
      column-gap: 0.5em;

      width: 20%;
      height: 15%;
    }

    .Plus {
      color: var(--secondary-color);
      height: 2em;
      padding: 1.2em 0.5em 1.2em 0.5em;

      flex: 3;
      background-color: var(--tertiary-color);
      border-radius: 5px;
    }

    .Trash {
      color: var(--secondary-color);
      height: 2em;
      padding: 1.2em 0.5em 1.2em 0.5em;

      flex: 1;
      background-color: #FF4B4B;
      border-radius: 5px;
    }
}
@media (max-width: 500px) {

  .containerNav {
      width: 80vw;
      height: 10em;
      padding: 1em 0 1em 0;

      row-gap: 0em;
    }

        .navGoup {
          width: 100%;

          display: flex;
          flex-direction: row;
          align-items: start;
          justify-content: start;

          column-gap: 1em;
        }

    .searchBar {
      width: 80%;
    }

    .title {
      text-align: start;
      font-size: 12px;
      margin-left: 3em;
    }

    .btnGroup {
      display: flex;
      align-items: center;
      column-gap: 0.2em;

      width: 20%;
      height: 15%;
    }

    .Plus {
      height: 2em;
      padding: 1em;

      flex: 1;
    }

    .Trash {
      height: 2em;
      padding: 1em;

      flex: 1;
    }

    .ArrowDownToLine{
      height: 2em;
      padding: 1em;

      flex: 1;
    }
}
