.containerNav{
  width: 50vw;
  height: 10em;
  border: solid 1px #33333861;
  border-radius: 10px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

.navGoup{
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.prominence {
  color: #F59D2A;
}

.title {
  display: flex;
  align-items: center;

  font-size: 40px;
  height: 20%;
}

.btnGroup{
  display: flex;
  align-items: center;
  column-gap: 1em;

  width: 20%;
  height: 20%;
}

.btnPlus{
  color: white;
  height: 2.5em;
  padding: 1em 0.5em 1em 0.5em;

  flex: 2;
  background-color: #F59D2A;
  border-radius: 5px;
}

.btnTrash{
  color: white;
  height: 2.5em;
  padding: 1em 0.5em 1em 0.5em;

  flex: 1;
  background-color: #FF4B4B;
  border-radius: 5px;
}
