.prominence{
  color: #F59D2A;
}

.containerHome{
  width: 100vw;
  margin-top: 5vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  row-gap: 10em;
}

.titles{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  row-gap: 2em;
}

.containerBtns{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4em;
}

.cardBtn{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  row-gap: 1em;
}

.btn{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 150px;
  height: 150px;
  padding: 3em;
  border: 3px solid #333338;
  background-color: #FFFDFA;
  border-radius: 20px;
}

.description{
  font-size: 40px;
}

.iconCar, .iconWrench{
  color: #F59D2A;
}

.title{
  font-size: 48px;
  font-weight: bold;
  color: #333338;
}

.subTitle{
  font-size: 32px;
  color: #333338bf;
}
