.prominence{
  color: #F59D2A;
}

.containerHome{
  width: 100vw;
  margin-top: 5vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  row-gap: 7em;
}

.containerBtns{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70vw;

  column-gap: 8em;
}

.cardBtn{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  row-gap: 1em;
}

.btn{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 4em;

  border: 3px solid #333338;
  background-color: #FFFDFA;
  border-radius: 20px;
}

.description{
  font-size: 30px;
}

.iconCar, .iconWrench{
  color: #F59D2A;
}

.titles {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  row-gap: 2em;
}

.title{
  font-size: 40px;
  font-weight: bold;
  color: #333338;
}

.subTitle{
  font-size: 28px;
  color: #333338bf;
}
