.navbar{
  display: flex;
  align-items: center;
  justify-content: start;
  justify-items: center;

  background-color: rgb(255, 255, 255);
  height: 4vw;

  
  width: calc(100vw - 80px);
}

.logo{
  margin-left: 2em;
}
