<div class="containerMain">
  <app-sidebar />
  <div class="main">
    <app-navbar />
    <div class="card">
      @if(!showForm()){
      <app-float-nav
        (toggleForm)="toggleShowForm()"
        (deleteEvent)="deleteValuesInTable()"
        (searchAction)="searchActionHanlder($event)"
        title="Peça" />
      <app-table (clickRow)="clickRow($event)" #tableComponent />
      } @else {
      <app-form-part  [partData]="partData()" (toggleForm)="toggleShowForm()" />
      }
    </div>
  </div>
</div>
