:root {
  --primary-color: #333338;
  --secondary-color: #fff;
  --tertiary-color: #F59D2A;
}

* {
  margin: 0;
  padding: 0;
}

.containerMain{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  justify-items: start;

  /* overflow-x: hidden; */
}

.main{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  justify-items: start;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prominence {
  color: #F59D2A;
}
